ld
build/*
dist
dist/*
*.egg-info
.DS_Store
.idea
*.pyc*
*.DS_Store
*.json
widget-templates/node_modules/*
*.xml
*.csv
*.log
pkg/*
pkg
bin/*
bin
.buildpath
.jshintrc
.project
.settings/*
.settings
*.iml
